---
interface Props {
  time: string;
  event: string;
}

const { time, event } = Astro.props;
---

<div class="schedule-card flex items-center bg-tournament-dark rounded-xl py-3 px-6 text-white gap-6 transition-all duration-300 border border-transparent hover:translate-x-2.5 hover:border-white/10 hover:shadow-[0_10px_30px_rgba(0,0,0,0.2)] max-md:flex-col max-md:items-start max-md:gap-4 max-md:py-5 max-md:hover:translate-x-0">
  <div class="schedule-card__time-wrapper flex items-center justify-center min-w-[100px] ">
    <span class="text-4xl text-tournament-orange max-md:text-[28px]">{time}</span>
  </div>
  <div class="flex-1">
    <span class="text-xl font-semibold leading-[1.3] md:text-lg">{event}</span>
  </div>
  <div class="schedule-card__icon opacity-0 -translate-x-2.5 transition-all duration-300 max-md:hidden">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 18L15 12L9 6" stroke="#D85A21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
