# Dependencies
node_modules
.pnpm-debug.log*

# Build outputs
dist
.next
.turbo
out
build

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/*
!.vscode/sftp.json
.idea
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
Thumbs.db
