@import "tailwindcss";

@theme {
  --color-background: oklch(12.72% 0.01 285.63); /* #050505-ish */
  --color-foreground: oklch(89.33% 0.01 249.58); /* Slate 200 */
  --color-accent: oklch(70.5% 0.15 162.5); /* Emerald 500 */
  
  --font-sans: "Geist", "Inter", ui-sans-serif, system-ui;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
