---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-center p-24">
		<h1 class="text-6xl font-bold text-accent">MY PEAK</h1>
		<p class="mt-4 text-xl text-foreground">DeepTech Ecosystem 2026</p>
	</main>
</Layout>
