---

import '../assets/css/global.css'
import "../assets/css/base.css"
import "../assets/css/typography.css"
import "../assets/css/layout.css"
import "../assets/css/buttons.css"

const { title, description } = Astro.props

const defaultTitle = "КГЧО Турнир | 13-14 марта 2026"
const defaultDescription = "Турнир КГЧО по классическому волейболу. ДС «Юность». 13-14 марта 2026 года."

---

<html lang="ru">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{ title ?? defaultTitle }</title>

    <link rel="icon" type="image/svg+xml" href="/tournament/logo.svg" />

    <meta name="description" content={ description ?? defaultDescription } />
    <meta name="theme-color" content="#D85A21" />

    <meta property="og:title" content={ title ?? defaultTitle } />
    <meta property="og:description" content={ description ?? defaultDescription } />

    <!-- Подключаем Google Fonts для Montserrat и Bebas Neue -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  </head>

  <body id="top">

    <!-- Skip link -->
    <a class="fixed -top-20 focus-visible:top-0 p-3 bg-black/90 transition-all duration-300" href="#main">Skip to content</a>

    <!-- Main slot -->
    <main id="main">
      <slot />
    </main>

  </body>
</html>

